<style>
	.ppinfo .readmore
	{
		-moz-appearance: none;
		background-color: #097ef8;
		border-color: #0665c8;
		border-radius: 3px !important;
		border-style: solid;
		border-width: 0;
		box-shadow: 0.3em 0.3em 0.3em 0.2em #ddd;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
		font-size: 1rem;
		font-weight: normal;
		line-height: normal;
		margin: 0 0 1.25rem;
		padding: 1rem 2rem 1.0625rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		margin-top: 2em;
    }

	.ppinfo h3
	{
		font-size: 150%;
		margin-bottom: 2em;
		margin-top: 2em;
	}
</style>

<div class="ppinfo">

	<p>The Premium Pack is a collection of plugins to make broadcasting easier, saving you even more time.</p>

	<p><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/" class="readmore">Read more about the pack</a></p>

	<p>The following plugins are all included in the pack:</p>

	<div class="section">
		<h3>3rd party compatability</h3>
		<ul>
			<li><a title="Activity Monitor Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/activity-monitor-broadcast-plugin/">Activity Monitor</a> adds a Broadcast hook to the <a href="http://wordpress.org/plugins/plainview-activity-monitor/">Plainview Activity Monitor</a>, at the same time disabling post related hooks during broadcasting to prevent unnecessary logging.</li>
			<li><a title="Advanced Custom Fields Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/advanced-custom-fields-broadcast-plugin/">Advanced Custom Fields</a> adds support for correctly broadcasting various field types using Elliot Condon&#8217;s <a href="http://www.advancedcustomfields.com/">Advanced Custom Fields plugin</a>.</li>
			<li><a title="All In One Calendar Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/all-in-one-calendar-broadcast-plugin/">All In One Calendar</a> adds support for <a href="http://www.wordpress.org/plugins/all-in-one-event-calendar/">Timely&#8217;s All In One Calendar</a> plugin.</li>
			<li><a title="Event Organiser Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/event-organiser-broadcast-plugin/">Event Organiser</a> adds support for Stephen Harris&#8217; <a href="http://wordpress.org/plugins/event-organiser/">Event Organiser plugin</a>, with events and venues.</li>
			<li><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/geo-my-wp-broadcast-plugin/">GEO my WordPress</a> adds support for Eyal Fitoussi&#8217;s <a href="https://wordpress.org/plugins/geo-my-wp/">GEO my WordPress</a> geolocation plugin.</li>
			<li><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/global-content-blocks-broadcast-plugin/">Global Content Blocks</a> adds support for shortcodes from <a href="https://wordpress.org/plugins/global-content-blocks/">WP Xpert&#8217;s Global Content Blocks</a> plugin.</li>
			<li><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/metaslider-broadcast-plugin/">Metaslider</a> adds support for <a href="https://www.metaslider.com/">Metaslider</a> shortcodes.</li>
			<li><a title="Polylang Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/polylang-broadcast-plugin/">Polylang</a> adds support for Broadcasting posts in different languages using Frédéric Demarle&#8217;s <a href="https://wordpress.org/plugins/polylang/">Polylang</a> translation plugin.</li>
			<li><a title="Social Networks Auto Poster Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/social-networks-auto-poster-broadcast-plugin/">Social Networks Auto Poster</a> tells <a href="https://wordpress.org/plugins/social-networks-auto-poster-facebook-twitter-g/">NextScripts&#8217; Social Networks Auto Poster</a> (SNAP) to use the different social settings on each blog.</li>
			<li><a title="Tablepress" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/tablepress-broadcast-plugin/">TablePress</a> adds support for broadcasting <a href="https://wordpress.org/plugins/tablepress/">TablePress</a> shortcodes.</li>
			<li><a title="The Events Calendar Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/the-events-calendar-broadcast-plugin/">The Events Calendar</a> adds venue and organiser support for Modern Tribe&#8217;s <a href="https://wordpress.org/plugins/the-events-calendar/">The Events Calendar </a> plugin.</li>
			<li><a title="Views Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/views-broadcast-plugin/">Views</a> adds support for <a title="Types and Views site" href="http://wp-types.com/">WP Types and Views</a> content templates.</li>
			<li><a title="WooCommerce Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/woocommerce-broadcast-plugin/">WooCommerce</a> adds support for <a href="https://wordpress.org/plugins/woocommerce/">WooCommerce</a> extended features.
			<li><a title="WPML broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/wpml-broadcast-plugin/">WPML</a> adds support for <a href="http://wpml.org/">ICanLocalize&#8217;s WPML</a> translation plugin.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Control</h3>
		<ul>
			<li><a title="All Blogs Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/all-blogs-broadcast-plugin/">All Blogs</a> gives all users access to all of the blogs in the network.</li>
			<li><a title="All Blogs Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/all-blogs-broadcast-plugin/">All Blogs Superadmin</a> allows only superadmins to broadcast to all blogs in the network without having to be a user of the blog.</li>
			<li><a title="Attachment Shortcodes Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/attachment-shortcodes-broadcast-plugin/">Attachment Shortcodes</a> copies attachments specified in custom shortcodes.</li>
			<li><a title="Back To Parent Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/back-to-parent-broadcast-plugin/">Back To Parent</a> updates the parent post with the new child content.</li>
			<li><a title="Comments Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/comments-broadcast-plugin/">Comments</a> adds support for broadcasting of comments.</li>
			<li><a title="Custom Field Attachments Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/custom-field-attachments-broadcast-plugin/">Custom Field Attachments</a> allows post custom field containing attachment IDs to be broadcasted correctly.</li>
			<li><a title="Delete Before Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/delete-before-broadcast-bc-plugin/">Delete Before Broadcast</a> deletes duplicate and similar child posts on each blog before broadcasting</li>
			<li><a title="Keep Child Status Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/keep-child-status-broadcast-plugin/">Keep Child Status</a> keeps the status of post children to private, pending, published, draft, no matter the status of the parent.</li>
			<li><a title="Local Links Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/local-links-broadcast-plugin/">Local Links</a> automatically updates links to local posts on each child blog.</li>
			<li><a title="No New Terms Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/no-new-terms-broadcast-plugin/">No New Terms</a> prevents taxonomy terms from being created on child blogs.</li>
			<li><a title="Per Blog Taxonomies Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/per-blog-taxonomies-broadcast-plugin/">Per Blog Taxonomies</a> allows individual control of specific taxonomies for each child post.</li>
			<li><a title="Permalinks Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/permalinks-broadcast-plugin/">Permalinks</a> provides more precise control of permalinks for both parents and children.</li>
			<li><a title="Protect Child Properties Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/protect-child-properties-broadcast-plugin/">Protect Child Properties</a> prevent various properties of child posts from being overwritten.</li>
			<li><a title="Purge Children Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/purge-children-broadcast-plugin/">Purge Children</a> removes children and their attached files from child blogs.</li>
			<li><a title="Redirect All Children Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/redirect-all-children-broadcast-plugin/">Redirect All Children</a> redirects single post views from visitors of child posts to the parent post.</li>
			<li><a title="User &amp; Blog Settings Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/user-blog-settings-broadcast-plugin/">User &amp; Blog Settings</a> (UBS) can hide the broadcast meta box and/or menu, modify the meta box to force/prevent broadcast to blogs, with separate settings for users / blogs / roles.</li>
			<li><a title="User &amp; Blog Settings Post Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/user-blog-settings-post-broadcast-plugin/">User &amp; Blog Settings Post</a> uses the modifications from the UBS plugin to broadcast posts with one click.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Efficiency</h3>
		<ul>
			<li><a title="Blog Groups 2 Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/blog-groups-2-broadcast-plugin/">Blog Groups 2</a> provides a means of grouping blogs together, in order to be able to quickly select and unselect blogs from the Broadcast meta box.</li>
			<li><a title="Duplicate Attachments Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/duplicate-attachments-broadcast-plugin/">Duplicate Attachments</a> will duplicate the attachment and thumbnails, instead of letting WordPress regenerate them.</li>
			<li><a title="Find Some Unlinked Children Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/find-some-unlinked-children-broadcast-plugin/">Find Some Unlinked Children</a> can selectively link orphans / unlinked posts to parents, instead of automatically linking all found children.</li>
			<li><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/new-blog-broadcast-plugin/">New Blog Broadcast</a> automatically broadcasts posts when creating a new blog.</li>
			<li><a title="Queue Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/queue-broadcast-plugin/">Queue</a> adds a broadcast queue which helps to broadcast posts to tens / hundreds / more blogs.</li>
			<li><a title="Send To Many Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/send-to-many-broadcast-plugin/">Send To Many</a> allows mass broadcast of several posts to blogs at once.</li>
		</ul>
	</div>

	<div class="section">
		<h3>Utilities</h3>
		<ul>
			<li><a title="Lock Post Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/lock-post-broadcast-plugin/">Lock Post</a> allows users to lock editing of posts / pages to only themselves and super admins.</li>
			<li><a title="Menus Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/menus-broadcast-plugin/">Menus</a> copies menus between blogs (overwrite / update), with support for equivalent child posts on the child blogs and equivalent taxonomies.</li>
			<li><a title="Sync Taxonomies Broadcast plugin" href="https://plainviewplugins.com/threewp-broadcast-premium-pack/sync-taxonomies-broadcast-plugin/">Sync Taxonomies</a> synchronize the taxonomies of target blogs with those from a source blog.</li>
		</ul>
	</div>

	<p><a href="https://plainviewplugins.com/threewp-broadcast-premium-pack/" class="readmore">Read more about the pack</a></p>

</div>
